<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="live.amrabdullah.ddd">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:requestLegacyExternalStorage="true"/>
    <!--    ^added this for ImagePicker-->
</manifest>
